.centered-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 75vh;
}

.center-button a.btn {
    display: flex;
    justify-content: center;
    background-color: rgb(165, 223, 204);
    border-color: rgb(165, 223, 204);
}

.centered-card .center-button a.btn:hover {
    background-color: rgb(102, 216, 178);
}

#welcomeCardTitle {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}